div.slide {
  margin-left: auto; 
  margin-right: auto; 
  width: 95%;
}

h1 {
	text-align: center;
}
h1.big {
	font-size: huge;
}
.centre_verticalement {
  position:absolute;
  left: 50%;
  top: 50%;
}
table {
	border-collapse:collapse;
}
table, th, td {
	border: 1px solid black;
}
.commande {
	font-family: Monospace;
}
.condor, .avsp {
	font-weight: bold;
}
.condor {
	color: #0033CC;
}
.avsp {
	color: #990099;
}
